{% extends "layout.html" %}
{% block content %}
<h1 class="cover-heading">Ask {{name}} Anything</h1>

<p class="lead">You can ask me anything anonymously on Twitter.</p>

<form method="POST" action="/ask">
    <div class="input-group">
        <textarea name="q" rows="3" maxlength="130" class="form-control"></textarea>
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit">Ask!</button>
        </div>
    </div>
</form>
<br/>
{% if asked %}
<p style="color: green">Thanks for the question! You can ask another one in 2 minutes. TODO</p>
{% elif error %}
<p style="color: red">An error occurred while asking your question. Try again later.</p>
{% else %}
<p>&nbsp;</p>
{% endif %}

{% endblock %}